@page
@model EntApp1.Pages.GeographyModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Geography Choices</h1>
    <form method="post">

        <fieldset>
            <legend>Pick all the provinces you like</legend>

            @for (int i = 0; i < Model.Provinces.Length; i++)
            {
                <input asp-for=Provinces[i].IsChosen />
                <label asp-for=Provinces[i].IsChosen>@Model.Provinces[i].ProvinceName </label>
            }
        </fieldset>

        <select asp-for=ChosenCounties asp-items=@Model.CountyList>
        </select>

        <button type="submit">Press Me to see what happens</button>
    </form>
    <ul>
        @for (int i = 0; i < @Model.Provinces.Length; i++)
        {
            if (@Model.Provinces[i].IsChosen)
            {
                <li> @Model.Provinces[i].ProvinceName</li>

            }

        }
    </ul>

    @if (Model.HttpContext.Request.Method == "POST")
    {
        @if (@Model.ChosenCounties.Length == 0)
        {
            <h3>Your picked no counties</h3>;
        }
        else
        {
            <ul>

                @foreach (string county in @Model.ChosenCounties)
                {
                    <li>@county</li>
                }
            </ul>

        }
    }






</body>
</html>

